body {
  font-family: Arial, sans-serif;
  margin: 20px 0;
  background-color: #0909081e;
  color: rgb(20, 21, 20);
}

#name {
  font-size: 3em;
  margin: 50px 0 20px; 
  text-align: center;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(14, 15, 14);
}

h2 {
  font-size: 24px;
}

ul {
  list-style-type: square;
  color: #0e0f0e;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #171515;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(106, 130, 119, 0.1);
  z-index: 10;
}

nav a {
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  color: #f5f3f3;
}

nav a:hover {
  color: #2a856c;
}

section {
  margin: 10px 0; 
  padding: 10px; 
}

#Connect a:hover {
  color: #0056b3;
}

a {
  color: #101211;
  text-decoration: none;
}

a:hover {
  color: #418159;
}


/* Media Queries for Tablets and Desktops */

@media (min-width: 768px) {
  #name {
    font-size: 3em;
    margin-bottom: 20px; 
    
  }

  section {
    padding: 10px; 
    
  }

  .experience-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .experience-item {
    flex: 1 0 45%;
    margin: 10px;
  }
}
